<div class="container">
	<div class="row">
		<div class="col-sm-10 col-md-5 col-lg-5">
			<h1>Registrasi</h1>
			<p align="left">Untuk menggunakan layanan kami silakan klik tombol dibawah</p>
			<?php echo anchor('Client/registrasi','Registrasi',array('class'=>'btn btn-primary'));?>
		</div>
		<div class="col-sm-10 col-md-5 col-lg-5">
			<h1>User</h1>
			<p align="left">Untuk melihat dan mengubah user klik tombol dibawah</p>
			<?php echo anchor('Auser/viewUser','Kontrol User',array( 'class'=>'btn btn-primary'));?>
		</div>
		<div class="col-sm-10 col-md-5 col-lg-5">
			<h1>Kendaraan</h1>
			<p align="left">Untuk melihat dan mengubah kendaraan yang tersedia klik tombol dibawah</p>
			<?php echo anchor('Kendaraan/viewKendaraan','Kontrol Kendaraan',array( 'class'=>'btn btn-primary' ));?>
		</div>
		<div class="col-sm-10 col-md-5 col-lg-5">
			<h1>Perusahaan</h1>
			<p align="left">Untuk mengatur perusahaan klien  klik tombol dibawah</p>
			<?php echo anchor('Perusahaan/viewPerusahaan','Manager Perusahaan',array( 'class'=>'btn btn-primary'));?>
		</div>
	</div>
</div>
</body>
</html>