<div class="col-md-4 col-lg-4">
	<h3>Form Ubah Password Admin</h3>
	<?php 
		echo validation_errors();
		echo form_open(
			'Admin/gantiPassword',
			array(
				'method'=>'POST',
				'role'	=>'form',
				'class'	=>'form-horizontal'
			)
		);
	?>
	<div class='form'>
	<table class='table_form'>
		<tr><td>
			<?php 
				echo form_label(
					'Password Lama',
					'old_password',
					array(
						'class'=>'control-label'
					)
				);
			?>
		</td><td>
			<?php 
				echo form_input(
					array(
						'type'	=>'text',
						'class'	=>'form-control',
						'name'	=>'old_password',
						'id'	=>'old_password',
						'size'	=>'20'
					)
				);
			?>
		</td></tr>
		<tr><td>
			<?php 
				echo form_label(
					'Password Baru',
					'passwrod_baru',
					array(
						'class'=>'control-label'
					)
				);
			?>
		</td><td>
			<?php 
				echo form_input(
					array(
						'type'	=>'password',
						'class'	=>'form-control',
						'name'	=>'passwrod_baru',
						'id'	=>'passwrod_baru',
						'size'	=>'20'
					)
				);
			?>
		</td></tr>
		<tr><td>
			<?php 
				echo form_label(
					'Ulangi Password',
					'passwrod_baru2',
					array(
						'class'=>'control-label'
					)
				);
			?>
		</td><td>
			<?php 
				echo form_input(
					array(
						'type'	=>'password',
						'class'	=>'form-control',
						'name'	=>'passwrod_baru2',
						'id'	=>'passwrod_baru2',
						'size'	=>'20'
					)
				);
			?>
		</td></tr>
		<tr><td colspan='2'>
			<?php 
				echo form_submit(
					'submit',
					'Ganti Password',
					array(
						'class'=>'btn btn-warning btn-block'
					)
				);
			?>
		</td></tr>
		<tr><td colspan='2'>
			<small><?php echo $pesan; ?></small>
		</td></tr>
		<tr><td colspan='2'>
			<?php 
				echo anchor('Admin/adminMainPage','Kembali Ke Halaman Admin');
				echo form_close();
			?>
		</td></tr>
	</table>
</div>
</div>
<script type="text/javascript" src="<?php echo base_url();?>js/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>